<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    
    <link rel="stylesheet" href="../static/style.css">
    
   
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--<title>Admin Dashboard Panel</title>--> 
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <a href="../templates/home.html">
                    <img src="../static/images/images.png" alt="">
                </a>
            </div>

            <span class="logo_name">ID CARD</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="../templates/upfile.html">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Identity Card</span>
                </a></li>
        
        </div>
    </nav>
    <section class="dashboard">
        <div class="document-group">
            <img src="../static/images/cmnd.e73e5c58.png" alt="" style="min-height: 150px;">
            <button class="btn-document" onclick="window.location.href='../templates/upfile.html'" >Identity Card</button>
        </div>
        
    </section>
    <script src="../static/script.js"></script>
</body>
</html>