{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}
    <!-- <section class="dashboard">
        <div id ="dashboard_id" class="img-placeholder">
            <img src="{{ url_for('static', filename='images/camera.149f7439.svg') }}" alt="icon_upload_img" class="icon-upload">
            <div style="font-weight: bold; font-size: 18px;" class="text_up_load">Upload file</div>
            <div style="font-size: 14px; color: rgb(140,140,140); margin-bottom: 12px; text-align: center;">
                " Minimum resolution 1280*720, file size less than 20Mb, formats .jpg, .jpeg, .pdf "
            </div>
            <div class="d-flex">
                <input type="file" id="my-file-input" style="display:none">
                <button id="upload-button" class="btn-upload" onclick="document.getElementById('my-file-input').click()"> Choose file</button>
            </div>
        </div>   
    </section> -->
    <section class="dashboard">
        
        <div class="col-1" style="display: flex; align-items: center;justify-content: center; flex-direction: column;">
            <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
                <img src="{{ url_for('static', filename='images/images.jpg') }}" alt="icon_upload_img" class="image-result" style="margin: auto;">
            </div>
            <button id="upload-button" class="btn-upload" style="margin-top: auto;"> Choose file</button>
            
        </div>
        <div class="col-2">

            
            <table class="table table-bordered table-striped table-responsive-stack"  id="tableOne">
               <thead class="thead-dark">
                  <tr>
                     <th>Name</th>
                     <th>Color</th>
                     <th>Taste</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>Apple</td>
                     <td>Green and Red</td>
                     <td>Sweet and Tart</td>
                  </tr>
                  <tr>
                     <td>Banana</td>
                     <td>Yellow</td>
                     <td>Sweet and Mushy</td>
                  </tr>
                  <tr>
                     <td>Mango</td>
                     <td>Yellowish Green</td>
                     <td>Tangy</td>
                  </tr>
                  <tr>
                     <td>Orange</td>
                     <td>Orange</td>
                     <td>Sweet and Tangy</td>
                  </tr>
                  <tr>
                     <td>Blueberry</td>
                     <td>Blue</td>
                     <td>Mild Sweetness</td>
                  </tr>
               </tbody>
            </table>
        
    </section>
{% endblock %}

{% block scriptjs %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}